# Database Credentials
DB_URL=jdbc:mysql://your_db_host:3306/mays
DB_USERNAME=your_username
DB_PASSWORD=your_password

# File Server
FILE_SERVER_URL=https://your-ngrok-url/upload

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=put_a_long_random_string_here_for_jwt_secret
JWT_EXPIRATION_TIME=86400000